*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

button{
    width: 200px;
    height: 50px;
    border-radius: 40px;
    color: pink;
    font-size: 20px;
}